.button{
    border:none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    &.primary-button{
        background-color: #f63b3b;
        color: white;
    }

    &:active{
        transform: scale(0.98);
    }
}


///
///  This page is for button styles. You can add any styles here that you want to be applied to buttons across the entire application.
/// 