@use "./style/button.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, 
body, 
#root {
    height: 100%;
    width: 100%;
    font-family: 'Arial', sans-serif;   
    width: 100%;
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}


////
///  This page is for global styles. You can add any styles here that you want to be applied across the entire application.
/// 